body {
  background-color: #FFF;
  color: #000;
  font-family: Georgia;
  font-size: 17px;
}

h1 {
  color: #FFF;
  font-size: 30px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
}

h3 {
 color: #FFF;
}

h4 {
  text-transform: capitalize;
}

a {
  text-decoration: underline;
}

.nav a {
  font-family: Georgia;
  font-size: 17px;
  color: #000;
  font-weight: bold;
}

li {
  background-color: WhiteSmoke;
  color: DimGray;
  font-size: 12px;
  border-bottom: 1px solid black;
}

.header {
  background-color: #FFF;
  display: flex;
  position: fixed;
  width: 100%;
  z-index: 50;
  margin-top: 0px;
  border-bottom: 1px solid black;
  }

.logo {
  background-color: #FFF;
  }

.title {
  background-color: #FFF;
  flex-grow: 3;
  padding: 20px 0px 0px 10px;
  text-align: left;
  color: MediumAquamarine;
  font-weight: bold;
  }

.nav {
  background-color: #FFF;
  flex-grow: 1;
  align-items: flex-end;
  padding: 20px 40px 0px 0px;
  text-align: right;
}

.articles {
  display: flex;
  position: relative;
  z-index: 20;
  width: 50%;
  flex-direction: column;
}

.main-article {
  display: flex;
}

.article {
  display: flex;
  flex-basis: auto;
}

.side-panel {
  display: flex;
}

.footer {
  display: flex;
}

.footer-container {

}
