body {
  background-color: #FFF;
  color: #000;
  font-family: Georgia;
  font-size: 17px;
  }

.header {
  display: flex;
  z-index: 0;
  }

.footer {
  
}

nav {
  display: flex;
  inline-block
}

h1 {
  color: MediumAquamarine;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

h2 {
  color: #FFF;
  font-weight: bold;
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  color: #FFF;
  font-size: 30px;
}

nav a {
  color: #000;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

p {
  font-family: Georgia;
  font-size: 17px;
}

img {

}

.bites {

}

.footer title {

}

.footer nav {

}

.footer p {

}
